body {
    background: white;
}

*{
    margin: 0;
    font-family: $font-stack;
    font-size: $basic-font-size;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.link {
    text-decoration: none;

    &--button {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    }

    &--more {
        text-transform: uppercase;
        font-size: 12px;
        border-bottom: 1px solid $teal;
        letter-spacing: 1px;

        &:hover {
            color: $teal;
            border: none;
        }
    }

    &--green {
        color: white;
    }

    &--grey {
        color: $dark-grey;
    }
}

.button-area__button {
    @include flex ();
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;

    &--232 {
        width: 232px;
    }

    &--320 {
        width: 320px;
    }

    &--white {
        background-color: white;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;

        &:hover {
            background-color: #e6e6e6;
        }
    }

    &--grey-teal {
        background-color: $light-grey;
        border: 1px solid $teal;
        box-sizing: border-box;

        &:hover {
            background-color: $teal;
        }
    }

    &--green {
        color: white;
        background-color: $grass-green;

        &:hover {
            background-color: $light-green;
        }
    }

    &--inrow {
        margin-right: 32px;
    }
}

.headline {
    text-transform: uppercase;
    letter-spacing: 2px;

    &--h1 {
        font-size: $h1-font-size;
        letter-spacing: 2px;
        color: white;
    }

    &--h2 {
        font-weight: normal;
        font-size: $h2-font-size;
        color: $teal;
        padding-top: 56px;
        padding-bottom: 32px;
    }

    &--h3 {
        font-weight: normal;
        font-size: $h2-font-size;
        color: $teal;
        padding-top: 56px;
        padding-bottom: 32px;
    }

    &--white {
        color: white;
    }
}

.text {
    color: $dark-grey;
}
