body {
    background: white;
}

*{
    margin: 0;
    font-family: $font-stack;
    font-size: $basic-font-size;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.button {
    @include flex ();
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;

    &--232 {
        width: 232px;
    }

    &--320 {
        width: 320px;
    }

    &--green {
        color: white;
        background-color: $grass-green;

        &:hover {
            background-color: $light-green;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;

        &--green {
            color: white;
        }

        &--grey {
            color: #323232;
        }
    }
}

.headline {
    text-transform: uppercase;

    &--h1 {
        font-size: $h1-font-size;
        color: white;
    }

    &--h2 {
        font-weight: normal;
        font-size: $h2-font-size;
        color: $teal;
        padding-top: 56px;
    }

    &--white {
        color: white;
    }
}
